.first
  display flex
  min-height: 200px
  justify-content space-between
  margin 0 0 30px 0
.item
  width: 23%
  background: RGB(153,217,234)

.item_center
  width 50%
  background: RGB(130,217,234)

.second
  display flex
  min-height: 500px
  justify-content space-between

.item_left
  width: 73%
  background: RGB(153,217,234)

.column
  display flex
  min-height: 500px
  width 25%
  justify-content space-between
  flex-direction column

.item_c
  height 32%
  background: red