extends template

block variables
    - var title ='Синтаксис CSS'
    - var style ='CSS_syntax.css'

block article
    article
        section
            .first
                .item
                .item_center
                .item
            .second
                .item_left
                .column
                    .item_c
                    .item_c
                    .item_c