extends template

block variables
    - var title ='CSS'
    - var style ='index.css'

block article
    section
        p.text.head CSS (англ. Cascading Style Sheets — каскадные таблицы стилей) — формальный язык описания внешнего вида документа, написанного с использованием языка разметки.
        .p_with_img
            p.text Основным понятием CSS является стиль – т. е. набор правил оформления и форматирования, который может быть  применен к различным элементам страницы. Для присвоения какому-либо элементу определенных характеристик необходимо  один раз описать этот элемент и определить это описание как стиль, а в дальнейшем просто указывать, что элемент получить свойства выбранного стиля.
            img(src="img/css1.jpg")
    .video
        iframe(width="560", height="315", src="https://www.youtube.com/embed/8wRpmXjNhzg", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen='')